<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="sqlConnectionStr" connectionString="Database=vdq;Data Source=121.40.171.43;User Id=root;Password=8a5c94af1d;pooling=false;CharSet=utf8;port=3306"/>
  </connectionStrings>
  <appSettings>
    <add key="MQ.UserName" value="guest" />
    <add key="MQ.Password" value="guest" />
    <add key="MQ.ClientIp" value="25.30.9.145" />
    <add key="MQ.ClientPort" value="5672" />
    <add key="MQ.Exchange" value="BaseDataExchange" />
    <add key="MQ.ExchangeType" value="topic" />
    <add key="MQ.RoutingKey" value="routeData.ywAlarm.video" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>